body{
	background: #333;
}
.social-feed{
	width: 500px;
	margin: 0 auto;
	display: block;
	padding: 30px;
	display: table;
}

.clearfix{
	clear: both;
}

.social-feed li{
	width: 50px;
	height: 50px;
	list-style: none;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.social-feed li img{
width: 50px;
	height: 50px;
}

.section-title{
	font-size: 22px;
	margin: 30px auto 0;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	font-family: Arial;
	color: #fff;
	float: left;
}
